<!-- ref: https://www.web2mi.com/transfer.htm -->
<html><head><style>body {transition: opacity ease-in 0.2s; } 
body[unresolved] {opacity: 0; display: block; overflow: hidden; position: relative; } 
</style>
<title>列车换乘查询</title>
<link href="https://www.web2mi.com/css/style.css" rel="stylesheet" type="text/css">
<script language="JavaScript" type="text/javascript" src="https://www.web2mi.com/js/common.js"></script>
<script language="javascript">
var submiting = false;
function saveCheck() {
  if (submiting) {
    return false;
  }
  var a=eleById("fromStation");
  if (a.value.length < 1) {
    alert("发站 不能为空！");
    a.focus();
    return false;
  }
  a=eleById("toStation");
  if (a.value.length < 1) {
    alert("到站 不能为空！");
    a.focus();
    return false;
  }
  a=eleById("midBigCount");
  if (a.value.length < 1) {
    alert("尝试换乘站数 不能为空！");
    a.focus();
    return false;
  }
  a=eleById("transStartMinute");
  if (a.value.length < 1) {
    alert("换乘开始 不能为空！");
    a.focus();
    return false;
  }
  a=eleById("transEndHour");
  if (a.value.length < 1) {
    alert("换乘结束 不能为空！");
    a.focus();
    return false;
  }
  a=eleById("showCount");
  if (a.value.length < 1) {
    alert("显示结果数 不能为空！");
    a.focus();
    return false;
  }
  submiting = true;
  return true;
}
</script>
</head>
<body class="wrapper">
<h4>列车换乘查询</h4>
<ul>
  
</ul>

<form id="command" method="post" action="/">
<input id="method" name="method" type="hidden">

<table>
  <tbody><tr>
    <td>发站:</td>
    <td><input id="start" name="start" type="text" value="{% if data and data['args']['start'] %}{{ data['args']['start'] }}{% else %}北京{% endif %}"></td>
    <td>到站:</td>
    <td><input id="end" name="end" type="text" value="{% if data and data['args']['end'] %}{{ data['args']['end'] }}{% else %}威海{% endif %}"></td>
    <td><button class="buttonGo" onclick="return saveCheck();">搜索</button></td>
  </tr>
</tbody></table>
<table>
  <tbody><tr>
    <td>尝试换乘站数:</td>
    <td><input id="transcount" name="transcount" style="width:60" onkeyup="this.value=this.value.replace(/\D/g,'')" type="text" value="{% if data and data['args']['transcount'] %}{{ data['args']['transcount'] }}{% else %}1{% endif %}"></td>
    <td>换乘类型:</td>
    <td>
    <select id="transType" name="transType">
      <option value="0" selected="selected">全部</option>
      <option value="1">同站</option>
      <option value="2">同城不同站</option>
    </select>
    </td>
    <tr>
    <td>出发时间区间(小时):</td>
    <td><input id="start_time_range_min" name="start_time_range_min" style="width:40" onkeyup="this.value=this.value.replace(/\D/g,'')" type="text" value="{% if data and data['args']['start_time_range_min'] %}{{ data['args']['start_time_range_min'] }}{% else %}20{% endif %}"> -</td>
    <td><input id="start_time_range_max" name="start_time_range_max" style="width:40" onkeyup="this.value=this.value.replace(/\D/g,'')" type="text" value="{% if data and data['args']['start_time_range_max'] %}{{ data['args']['start_time_range_max'] }}{% else %}24{% endif %}"></td>
    <td>到达时间区间(小时):</td>
    <td><input id="arrive_time_range_min" name="arrive_time_range_min" style="width:40" onkeyup="this.value=this.value.replace(/\D/g,'')" type="text" value="{% if data and data['args']['arrive_time_range_min'] %}{{ data['args']['arrive_time_range_min'] }}{% else %}5{% endif %}"> -</td>
    <td><input id="arrive_time_range_max" name="arrive_time_range_max" style="width:40" onkeyup="this.value=this.value.replace(/\D/g,'')" type="text" value="{% if data and data['args']['arrive_time_range_max'] %}{{ data['args']['arrive_time_range_max'] }}{% else %}12{% endif %}"></td>
    <tr>
    <td>换乘最小间隔(分钟):</td>
    <td><input id="transfer_time_min" name="transfer_time_min" style="width:40" onkeyup="this.value=this.value.replace(/\D/g,'')" type="text" value="{% if data and data['args']['transfer_time_min'] %}{{ data['args']['transfer_time_min'] }}{% else %}20{% endif %}"></td>
    <td>换乘最大间隔(分钟)</td>
    <td><input id="transfer_time_max" name="transfer_time_max" style="width:40" onkeyup="this.value=this.value.replace(/\D/g,'')" type="text" value="{% if data and data['args']['transfer_time_max'] %}{{ data['args']['transfer_time_max'] }}{% else %}120{% endif %}"></td>
    <tr>
    <td>显示结果数:</td>
    <td><input id="showCount" name="showCount" style="width:60" onkeyup="this.value=this.value.replace(/\D/g,'')" type="text" value="100"></td>
  </tr>
</tbody></table>

<p>
<font color="red"></font>

{% if data and not data['0-transfer'] and not data['1-transfer'] %}
<h3>未找到中转方案</h3>
{% endif %}

{% if data and data['0-transfer'] %}
<h3>直达</h3>
<table width="50%" border="1" cellpadding="6" cellspacing="0" bordercolor="#000000" style="border-collapse: collapse;">
    <thead>
        <tr class="table_header">
            <th>No.</th>
            <th>车次</th>
            <th>出发站</th>
            <th>出发时间</th>
            <th>到达站</th>
            <th>到达时间</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data['0-transfer'] %}
        {% if loop.index % 2 == 0 %}
        <tr class="table-even-row">
        {% else %}
        <tr class="table-odd-row">
        {% endif %}
            <td align="center">{{ loop.index }}</td>
            <td align="center">{{ item['station_train_code'] }}</td>
            <td align="center">{{ item['from_station'] }}</td>
            <td align="center">{{ item['schedule'][0]['start_time'] }}</td>
            <td align="center">{{ item['to_station'] }}</td>
            <td align="center">{{ item['schedule'][-1]['arrive_time'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if data and data['1-transfer'] %}
<h3>1 次中转</h3>
{% for item in data['1-transfer'] %}
<table width="50%" border="1" cellpadding="6" cellspacing="0" bordercolor="#000000" style="border-collapse: collapse;">
    <thead>
        <tr class="table_header">
            <th>No.</th>
            <th>车次</th>
            <th>出发站</th>
            <th>出发时间</th>
            <th>到达站</th>
            <th>到达时间</th>
        </tr>
    </thead>
    <tbody>
        {% for t in item %}
        {% if loop.index % 2 == 0 %}
        <tr class="table-even-row">
        {% else %}
        <tr class="table-odd-row">
        {% endif %}
            <td align="center">{{ loop.index }}</td>
            <td align="center">{{ t['train_info']['station_train_code'] }}</td>
            <td align="center">{{ t['start_station'] }}</td>
            <td align="center">{{ t['start_time'] }}</td>
            <td align="center">{{ t['end_station'] }}</td>
            <td align="center">{{ t['arrive_time'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
{% endfor %}
{% endif %}
</p>

</form>
</body></html>
